<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<link rel="stylesheet" th:href="@{static/css/main.css}" type="text/css" />
<title>Strongerweb - Initial Profile</title>
</head>
<body>
<h1>Here's a start.</h1>
<h2>If you know better, adjust!</h2>
<div class="slider" th:object="${humanAbilities}">
	<label for="highBarbellBackSquatSlider">Back Squat</label>
	<input type="range" th:min="*{maxHighBarbellBackSquat / 2}" th:max="*{maxHighBarbellBackSquat * 2}" th:value="*{maxHighBarbellBackSquat}" />
</div>
</body>
</html>